In [283]:
import pandas as pd
import numpy as np
import bs4
import requests
import neweggutils
import re

from collections import OrderedDict

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Cleaning functions

In [349]:
first_5_p = pd.read_csv('first_5_prices_backup.csv', index_col=0)
first_5_c = pd.read_csv('first_5_components_backup.csv', index_col=0)

In [351]:
first_5_p.drop(labels=['price_html'], inplace=True, axis=1)

In [353]:
first_5_c.drop(labels=['component_html'], inplace=True, axis=1)

In [357]:
first_5_c.rename({'price_html': 'component_html'}, axis=1, inplace=True)

In [359]:
first_5_p.rename({'component_html': 'price_html'}, axis=1, inplace=True)

In [362]:
first_5_c.to_csv('1-5comp.csv')
first_5_p.to_csv('1-5price.csv')

In [363]:
six_to_eleven_p = pd.read_csv('6_to_11_price.csv', index_col=0)
six_to_eleven_c = pd.read_csv('6_to_11_component.csv', index_col=0)

In [368]:
six_to_eleven_p.drop(labels=['price_html'], inplace=True, axis=1)
six_to_eleven_p.rename({'component_html': 'price_html'}, axis=1, inplace=True)

In [372]:
six_to_eleven_c.drop(labels=['Unnamed: 0.1', 'component_html'], axis=1, inplace=True)
six_to_eleven_c.rename({'price_html': 'component_html'}, inplace=True, axis=1)

In [375]:
six_to_eleven_c.to_csv('6-11comp.csv')
six_to_eleven_p.to_csv('6-11price.csv')

In [376]:
eleven_to_fourteen_p = pd.read_csv('11_to_14_prices.csv', index_col=0)
eleven_to_fourteen_c = pd.read_csv('11_to_14_components.csv', index_col=0)

In [377]:
eleven_to_fourteen_p.head()

  ['389', '249', '309', '329', '279', '289', '229', '339', '309', '229', '228', '649', '199', '227', '439', '329', '224', '219', '175', '189', '379', '259', '269', '219', '239', '699', '239', '349', '339', '529', '319', '179', '309', '159', '195', '117', '249', '424', '234', '249', '97', '179', '104', '159', '299', '239', '224', '149', '383', '249', '234', '315', '143', '289', '1,060', '206', '1,211', '289', '888', '761', '939', '839', '515', '2,195', '121', '599', '524', '269', '349', '600', '172', '316', '197', '234', '276', '128', '125', '1,398', '539', '141', '146', '142', '136', '203', '357', '1,049', '1,048', '180', '363', '350', '339', '802', '369', '165']
0
1  ['374', '324', '356', '185', '394', '441', '38...
2  ['695', '1,650', '109', '204', '1,623', '1,221...

In [8]:
first_5_p = first_5_p.apply(lambda x: neweggutils.get_components(x[0]), axis=1)

In [336]:
first_5_c = first_5_c.apply(lambda x: neweggutils.get_prices(x[0]), axis=1)

In [344]:
len(first_5_c[0])

95

In [220]:
first_5_p.to_csv('first_5_components.csv')
first_5_c.to_csv('first_5_prices.csv')

In [22]:
six_to_eleven_p.head()

                                      component_html
0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
1  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
2  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
3  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
4  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...

In [21]:
six_to_eleven_p.drop(labels=['Unnamed: 0', 'prices_html'], inplace=True, axis=1)

KeyError: "labels ['Unnamed: 0' 'prices_html'] not contained in axis"

In [23]:
six_to_eleven_c.drop(labels=['Unnamed: 0', 'component_html', 'Unnamed: 0.1'], inplace=True, axis=1)

In [221]:
six_to_eleven_p.to_csv('6_to_11_prices.csv')
six_to_eleven_c.to_csv('6_to_11_components.csv')

In [27]:
six_to_eleven_c.drop(labels=['Unnamed: 0.1'], inplace=True, axis=1)

In [28]:
six_to_eleven_c.head()

                                          price_html
0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
1  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
2  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
3  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...
4  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...

In [31]:
six_to_eleven_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
price_html    6 non-null object
dtypes: object(1)
memory usage: 128.0+ bytes

In [32]:
six_to_eleven_c = six_to_eleven_c.apply(lambda x: neweggutils.get_prices(x[0]), axis=1)

In [33]:
six_to_eleven_p = six_to_eleven_p.apply(lambda x: neweggutils.get_components(x[0]), axis=1)

In [318]:
len(six_to_eleven_c[3])

96

In [41]:
eleven_to_fourteen_p.drop(labels=['Unnamed: 0', 'Unnamed: 0.1', 'component_html'], inplace=True, axis=1)

In [42]:
eleven_to_fourteen_c.drop(labels=['Unnamed: 0', 'Unnamed: 0.1', 'price_html'], inplace=True, axis=1)

In [222]:
eleven_to_fourteen_p.to_csv('11_to_14_prices.csv')
eleven_to_fourteen_c.to_csv('11_to_14_components.csv')

In [76]:
eleven_to_fourteen_c = eleven_to_fourteen_c.apply(lambda x: neweggutils.get_components(x[0]), axis=1)

In [89]:
eleven_to_fourteen_c = pd.DataFrame(eleven_to_fourteen_c)

In [80]:
eleven_to_fourteen_p = eleven_to_fourteen_p.apply(lambda x: neweggutils.get_prices(x[0]), axis=1)

In [323]:
len(eleven_to_fourteen_p[2])

96

In [116]:
fill_63 = OrderedDict()

In [123]:
fill_63['Brand'] = 'HP'
fill_63['Model'] = '600'
fill_63['Operating System'] = 'Windows 10 Pro 64'
fill_63['Memory'] = '8GB DDR4 2400'
fill_63['Storage'] = '1 TB 7200 rpm SATA HDD'
fill_63['Processor'] = 'Intel i5-7500 3.4 GHz'
fill_63['Graphics'] = 'Integrated'
fill_63['Processor speed'] = '3.4 GHz'

In [125]:
eleven_to_fourteen_c = pd.DataFrame(eleven_to_fourteen_c)

In [140]:
def get_keys(ordereddict):
    try:
        k = ordereddict.keys()
        return k
    except:
        return None

In [177]:
def unique_columns(components_df):
    cols = set()
    
    for _ in range(len(components_df)):
        features = get_keys(components_df.iloc[_][0])
        if features != None:
            for key in features:
                cols.add(key)
    return list(cols)

In [178]:
uniq = unique_columns(eleven_to_fourteen_c)

In [207]:
def create_price_df(p):
    price_df = pd.DataFrame(columns=['Price'])
    
    price_df['Price'] = sum([p[_] for _ in range(len(p))])
    
    return price_df

## Grab price directly from HTML

In [244]:
fc = pd.read_csv('first_5_prices_backup.csv')

In [245]:
fc.head()

   Unnamed: 0                                     component_html  price_html
0           0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...         NaN
1           0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...         NaN
2           0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...         NaN
3           0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...         NaN
4           0  <!DOCTYPE HTML>\r\n<html lang="en">\r\n<head>\...         NaN

In [310]:
page = fc['component_html'][1]

In [311]:
soup = bs4.BeautifulSoup(page, 'lxml')

In [312]:
neweggutils.get_components(page)

OrderedDict([('Brand', 'Lenovo'),
             ('Series', 'IdeaCentre'),
             ('Model', '720-18ICB (90HT0004US)'),
             ('Part Number', '90HT0004US'),
             ('Type', 'Gaming & Entertainment'),
             ('Form Factor', 'Tower'),
             ('Usage', 'Consumer'),
             ('Colors', 'Black'),
             ('Processor', 'Intel Core i7-8700 3.20 GHz'),
             ('Processor Main Features', '64 bit 6-Core Processor'),
             ('Cache Per Processor', '12 MB L3 Cache'),
             ('Memory', '16 GB DDR4 2666 + 16 GB Optane Memory'),
             ('Storage', '2 TB 7200 RPM HDD'),
             ('Optical Drive', 'DVDRW'),
             ('Graphics', 'NVIDIA GeForce GTX 1060 6 GB GDDR5'),
             ('Power Supply', '400W'),
             ('Operating System', 'Windows 10 Home 64-Bit'),
             ('CPU Type', 'Intel Core i7 8th Gen'),
             ('CPU Speed', '8700 (3.20 GHz)'),
             ('L3 Cache Per CPU', '12 MB'),
             ('CPU Main Features', '64 bit 6-Core Processor'),
             ('GPU/VGA Type', 'NVIDIA GeForce GTX 1060'),
             ('Video Memory', '6 GB GDDR5'),
             ('Virtual Reality Ready', 'Yes'),
             ('Memory Capacity', '16 GB DDR4'),
             ('Memory Speed', 'DDR4 2666'),
             ('Memory Spec', '8 GB x 2'),
             ('Memory Slot (Total)', '2'),
             ('Maximum Memory Supported', '32 GB'),
             ('Optane Memory', '16 GB'),
             ('HDD', '2 TB'),
             ('HDD RPM', '7200rpm'),
             ('Optical Drive Type', 'DVD±RW'),
             ('LAN Speed', '10/100/1000Mbps'),
             ('WLAN', '802.11ac Wireless LAN'),
             ('Bluetooth', 'Bluetooth 4.1'),
             ('Mouse Type', 'Wired Mouse'),
             ('Keyboard Type', 'Wired Keyboard'),
             ('Dimensions (H x W x D)', '12.78" x 6.50" x 14.80"'),
             ('Weight', '19.84 lbs.')])

In [313]:
soup.find_all(class_=re.compile('price-current'))

[]

In [297]:
p = soup.find_all(class_=re.compile('price-current'))

In [281]:
p[0].parent.parent

<li class="price-current">
<span class="price-current-label">
<a aria-label="Premier Price Explaination" class="membership-info membership-popup" data-neg-popid="MembershipPopup" href="javascript:void(0);" name="membership" style="display: inline"><span class="membership-icon"></span><span style="display: none">|</span></a>
</span>$<strong>1,050</strong><sup>.00</sup>
            <span class="price-current-range">
<abbr title="to">–</abbr>
</span>
</li>